In [16]:
# Import Libraries
import pandas as pd

In [17]:
# Sample Data
data={
    'CustomerID':['C001','C002','C003','C004','C005','C006','C007','C008'],
    'Education_Level':['High School','Bachelors','Masters','phD','Bachelors','High School','phD','Masters'],
    'Product_Quality':['Low','Medium','High','Medium','Low','High','Medium','High'],
    'Statisfacation_Level':['Poor','Average','Excellent','Good','Average','Poor','Average','Excellent']
}
df=pd.DataFrame(data)

In [18]:
df

  CustomerID Education_Level Product_Quality Statisfacation_Level
0       C001     High School             Low                 Poor
1       C002       Bachelors          Medium              Average
2       C003         Masters            High            Excellent
3       C004             phD          Medium                 Good
4       C005       Bachelors             Low              Average
5       C006     High School            High                 Poor
6       C007             phD          Medium              Average
7       C008         Masters            High            Excellent

In [19]:
# Define the order for each ordinal feature.
education_order=['High School','Bachelors','Masters','phD']
product_quality_order=['Low','Medium','High']
satisfaction_order=['Poor','Average','Good','Excellent']

In [20]:
from sklearn.preprocessing import OrdinalEncoder

In [21]:
encoder=OrdinalEncoder(categories=[education_order,
                      product_quality_order,satisfaction_order])

In [23]:
# Apply Encoding (Skip CustomerID as it is identifier)
df[['Education_Level','Product_Quality','Statisfacation_Level']]=encoder.fit_transform(df[['Education_Level','Product_Quality','Statisfacation_Level']])

In [24]:
df

  CustomerID  Education_Level  Product_Quality  Statisfacation_Level
0       C001              0.0              0.0                   0.0
1       C002              1.0              1.0                   1.0
2       C003              2.0              2.0                   3.0
3       C004              3.0              1.0                   2.0
4       C005              1.0              0.0                   1.0
5       C006              0.0              2.0                   0.0
6       C007              3.0              1.0                   1.0
7       C008              2.0              2.0                   3.0